<html>
    <head>
        
        <style>
            #kek { 
                text-align : center;
                font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                
            }
        </style> 
      
        <body>
            <form method="POST" id="kek">
            {% csrf_token %}
            {% for field in form %} 
            <br> 
                {{ field.label }}
                {{ field }}
            <br> 

            {% endfor %}
            <br>
            <button type='submit' item-width="230px">Posalji</button>
         
        </form>
            {% for key,value in dic.items %}
            <h4 id="kek">{{ key }} = {{ value }} </h4>
            <br> 
            {% endfor %}
        </body>
   
    </head>



</html>